[submodule "nuxt-client"]
	path = nuxt-client
	url = git@github.com:AgnijaIlzena/nuxt-client.git
[submodule "symfony-rest-api"]
	path = symfony-rest-api
	url = git@github.com:AgnijaIlzena/symfony-rest-api.git
[submodule "angular-client"]
	path = angular-client
	url = git@github.com:AgnijaIlzena/angular-client.git
[submodule "py-rest-api"]
	path = py-rest-api
	url = git@github.com:AgnijaIlzena/py-rest-api.git
