[submodule "nuxt-client"]
	path = nuxt-client
	url = git@github.com:AgnijaIlzena/nuxt-client.git
[submodule "symfony-rest-api"]
	path = symfony-rest-api
	url = git@github.com:AgnijaIlzena/symfony-rest-api.git
